body {
	/* background-color: #e2e2e2; */
	font-family: system-ui;
	color: darkslateblue;
	max-width: 600px;
	margin: 0px auto;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.grey-color {
	color: #000000ab;
}

.italic {
	font-style: italic;
}

.m-0 {
	margin: 0;
}

.m-1 {
	margin: 5px;
}

.mt-0 {
	margin-top: 0;
}

.p-0 {
	padding: 0;
}

.small-text {
	font-size: smaller;
}

.bigger-text {
	font-size: large;
}

.thin-text {
	font-weight: 400;
}

.flex {
	display: flex;
}

.flex.h-align-between {
	justify-content: space-between;
}

.flex.h-align-even {
	justify-content: space-evenly;
}

.flex.v-align-center {
	align-items: center;
}

ul.list-style-none li {
	list-style-type: none;
}

.text-align-left {
	text-align: left;
}

.profile-card {
	text-align: center;
	border: 1px solid lightslategray;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 6px;
	min-width: 220px;
	max-width: 500px;
	box-shadow: 1px 1px 0px 0px lightslategray;
}

.profile-card #profile-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.profile-card .social-profiles ul,
.profile-card .skills ul {
	padding-left: 0;
}

.profile-card .social-profiles a {
	text-decoration: none;
}

.profile-card section h4 {
	margin: 6px 0;
}

.profile-card li {
	font-size: 14px;
}

main {
	margin: 1px auto;
	padding: 10px;
}

section {
	margin: 10px 1px;
}

section p {
	/* margin-left: 20px !important; */
}

.page-title {
	text-transform: uppercase;
	font-size: x-large;
}

section h3 {
	font-weight: 400;
	/* border-bottom: 1px solid #0000000f; */
}

section .section-title {
	margin: 10px 0px;
	color: #000000ab;
	font-weight: 600;
}

section.company,
section.institution {
	margin: 5px 0px;
}

section.company > p {
	margin-left: 10px;
}

section.company .role,
section.institution .institution-name {
	/* text-transform: uppercase; */
	font-weight: 500;
}

section.company .period,
section.institution .period {
	color: #000000ab;
	font-size: small;
}

section.institution .institution-name {
}

.works .work-card {
	border: 1px solid lightslategray;
	border-radius: 4px;
	margin: 10px auto;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.profile-card #profile-image {
		border-radius: 50%;
		width: 80px;
		height: 80px;
	}
}

@media screen and (max-width: 500px) {
	article {
		flex-direction: column;
	}
}
